@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
:root {
    --primary-white: #f9f9f9;
    --primary-black: #121111;
    --text-white: #e7e7e7;
    --text-black: #282626;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: objektiv-mk2, sans-serif;
    /* font-family: jaf-bernina-sans, sans-serif; */
}

body#about, body.case-page {
    background-color: var(--primary-black);
    color: var(--text-black);
}

body#index, body#WIP, body#page-not-found {
    background-color: var(--primary-black);
    color: var(--text-white);
}

#WIP::after, #page-not-found::after {
    animation: grain 8s steps(10) infinite;
    content: "";
    background-image: url("../media/grain2.png");
    height: 300%;
    left: -50%;
    opacity: 0.2;
    position: fixed;
    top: -100%;
    width: 300%;
    z-index: -1;
}

@keyframes grain {
    0%, 100% {
        transform: translate(0, 0)
    }
    10% {
        transform: translate(-5%, -10%)
    }
    20% {
        transform: translate(-15%, 5%)
    }
    30% {
        transform: translate(7%, -25%)
    }
    40% {
        transform: translate(-5%, 25%)
    }
    50% {
        transform: translate(-15%, 10%)
    }
    60% {
        transform: translate(15%, 0%)
    }
    70% {
        transform: translate(0%, 15%)
    }
    80% {
        transform: translate(3%, 35%)
    }
    90% {
        transform: translate(-10%, 10%)
    }
}

.display {
    margin-top: -1rem;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

h3 {
    margin-bottom: 0.5rem;
}

p {
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.2rem;
}

.overline {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: #a7a7a7;
}

.small {
    font-size: 0.8rem;
    font-weight: 400;
}

a {
    font-weight: medium;
    text-decoration: none;
    color: var(--text-white);
}

ul {
    list-style-type: none;
}

hr {
    background-color: rgb(223, 223, 223);
    height: 1px;
    width: 90%;
    margin-bottom: 2rem;
}

html {
    scroll-behavior: smooth;
}

.btn {
    display: inline-block;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 3rem;
    transition: 0.2s;
}

/*--- ---*/

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: hidden;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.vl {
    border-left: 1px solid var(--primary-white);
    height: 250px;
    position: relative;
    margin-left: 50%;
    margin-top: 5rem;
}

/*---- Header ----*/

header {
    height: 80px;
    width: 100%;
    padding: 1rem 0;
}

header .flex {
    justify-content: center;
    flex-wrap: wrap;
}

#logo {
    margin-right: 5rem;
    margin-left: 5rem;
}

.nav-word {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.3rem;
    transition: 0.2s;
    text-align: center;
    max-width: 10rem;
}

.nav-word:hover {
    letter-spacing: 0.4rem;
}

#logo {
    max-width: 100px;
}

/*---- Hero ----*/

#hero {
    animation-name: slowfade;
    animation-duration: 3s;
}

.hero-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 25vh;
}

#space-holder {
    height: 250px;
}

#hero .vl {
    animation-name: grow;
    animation-duration: 3s;
}

@keyframes slowfade {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes grow {
    0% {
        height: 0px;
    }
    100% {
        height: 250px;
    }
}

/*---- Index cases ----*/

.big-container {
    overflow: hidden;
}

.outer-case {
    position: relative;
    max-width: 1000px;
    margin: 200px auto 400px auto;
    padding: 0 40px;
}

.outer-case.left {
    direction: rtl;
}

.inner-case {
    max-width: 50%;
    direction: ltr;
}

.case-image-right {
    position: absolute;
    max-width: 60%;
    top: -50%;
    right: -15%;
}

.case-image-left {
    position: absolute;
    max-width: 60%;
    top: -50%;
    left: -20%;
}

.ending {
    text-align: center;
    margin-bottom: 3rem;
}

/*--- Case page ---*/

#case-intro .outer-case {
    margin: 0 auto;
}

.case-intro.grid {
    align-items: center;
    grid-template-columns: 3fr 2fr;
}

#ultraglozz-page .case-intro.grid {
    grid-template-columns: 1fr 1fr;
}

.intro-image {
    max-width: 200%;
    margin: auto;
}

.intro-text {
    margin-bottom: 4rem;
}

.intro-description {
    margin-bottom: 4rem;
}

#ultraglozz-page .intro-image {
    max-width: 100%;
}

.intro-facts {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    --gap: 32px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
}

.intro-facts>* {
    margin: var(--gap) 0 0 var(--gap);
}

.case-study {
    background-color: var(--primary-white);
}

.case-study p {
    font-weight: 400;
}

.inner-case-study h2 {
    max-width: 700px;
    margin: 0 auto;
}

.inner-case-study h3 {
    max-width: 700px;
    margin: 2rem auto 0 auto;
}

.inner-case-study h4 {
    max-width: 700px;
    margin: 0 auto -1rem auto;
}

.inner-case-study p {
    max-width: 700px;
    margin: 1rem auto;
}

.inner-case-study ul {
    max-width: 700px;
    margin: 1rem auto;
    line-height: 1.8;
}

.inner-case-study li {
    margin-bottom: 1rem;
    display: flex;
}

.inner-case-study li::before {
    content: "\2013";
    margin-right: 1rem;
}

.inner-case-study {
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.inner-case-study div {
    margin-bottom: 3rem;
}

.inner-case-study a {
    color: var(--text-black);
    text-decoration: underline;
}

#paper.grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.img-shadow {
    box-shadow: 10px 10px 25px #837D7914;
}

#wireframe div {
    margin: 0;
}

.inner-case-study img {
    display: block;
    max-width: 100%;
    margin: 2rem auto 1rem auto;
}

.small-img {
    width: 50%;
}

.caption {
    font-size: 0.9rem;
    text-align: center;
    color: #7e7e7e;
    font-style: italic;
}

.border {
    border: 1px solid #cecece;
}

.scroll-me-up {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    text-align: center;
    opacity: 0%;
}

.scroll-me-up i {
    color: var(--primary-black);
}

/* Progress bar stuff */

.bottom {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    bottom: 0;
    z-index: 1;
    width: 100%;
    opacity: 0%;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: var(--primary-black);
    width: 0%;
}

/*--- About ---*/

.intro {
    height: 70vh;
    max-height: 600px;
    padding: 5rem 0;
    color: var(--text-white);
}

#about-ebba.grid {
    align-items: center;
}

.intro img {
    max-height: 500px;
}

.about-contact.grid {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#portrait {
    margin-left: auto;
}

.intro .vl {
    margin-left: 25%;
    margin-top: -3rem;
}

#resume .overline {
    color: #7e7e7e;
}

#resume {
    background-color: var(--primary-white);
}

.role {
    margin-left: 0.5rem;
    font-weight: 300;
    color: #7e7e7e;
}

#resume .vl, .case-study .vl {
    border-color: var(--primary-black);
    height: 100px;
    margin-left: 25%;
    margin-top: 0rem;
}

#resume .grid {
    grid-template-columns: 1fr 2fr;
}

#resume-text {
    margin: 5rem auto;
}

#experience li {
    margin-bottom: 3rem;
}

#resume-left li {
    margin-bottom: 0.5rem;
}

#resume-left div {
    padding-bottom: 3rem;
}

/*--- WIP ---*/

@keyframes blink {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.single-centered {
    height: 80vh;
    text-align: center;
}

#page-not-found-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#WIP h1 {
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: fadein;
    animation-duration: 6s;
    white-space: nowrap;
}

#WIP #wip-logo {
    position: absolute;
    max-width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: blink;
    animation-duration: 3s;
    opacity: 0;
}

@media (max-width: 1150px) {
    .scroll-me-up {
        background-color: var(--primary-white);
        padding: 1rem;
    }
}

/*--- Tablet ---*/

@media (max-width: 928px) {
    .case-image-right {
        position: relative;
        display: block;
        max-width: 80%;
        right: unset;
        top: unset;
        margin: 0 auto 50px auto;
    }
    .case-image-left {
        position: relative;
        display: block;
        max-width: 80%;
        left: unset;
        top: unset;
        margin: 0 auto 50px auto;
    }
    .outer-case {
        margin: 8rem auto;
    }
    .inner-case {
        max-width: 100%;
    }
    .intro .vl {
        margin-top: 2rem;
    }
    #wireframe.grid {
        gap: 1rem;
    }
}

/*--- Extra for intro ---*/

@media (max-width: 853px) {
    .case-intro.grid, #about-ebba.grid {
        grid-template-columns: 1fr;
    }
    #ultraglozz-page .case-intro.grid {
        grid-template-columns: 1fr;
    }
    .intro {
        padding-top: 3rem;
        padding-bottom: 0;
        max-height: fit-content;
        height: fit-content;
    }
    .intro-image {
        order: -1;
        max-width: 50%;
    }
    #portrait {
        order: -1;
        max-width: 60%;
        margin: auto;
    }
    .intro .vl {
        height: 100px;
        margin-left: 50%;
        margin-top: 0rem;
    }
    #resume .vl, .case-study .vl {
        height: 100px;
        margin-left: 50%;
    }
}

/*--- Extra for nav and cooontent---*/

@media (max-width: 659px) {
    header {
        height: 120px;
    }
    #logo {
        margin-bottom: 32px;
    }
    #nav-ul li:nth-child(2) {
        order: -1;
        width: 100%;
        text-align: center;
    }
    #nav-ul li:not(:nth-child(2)) {
        flex: 1;
    }
    .inner-case-study.grid {
        grid-template-columns: 1fr;
    }
    #paper.grid {
        grid-template-columns: 1fr;
    }
    #resume .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 578px) {
    .intro-facts {
        justify-content: space-around;
        text-align: center;
    }
}

/*--- Mobile ---*/

@media (max-width: 414px) {
    .container {
        padding: 0 15px;
    }
    .outer-case {
        padding: 0 10px;
    }
    .display {
        font-size: 2rem;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    h1 {
        font-size: 2rem;
    }
    .hero-text {
        margin-top: 15vh;
    }
    #space-holder {
        height: 150px;
    }
    #hero .vl {
        animation-name: grow-mobile;
        height: 150px;
    }
    @keyframes grow-mobile {
        0% {
            height: 0px;
        }
        100% {
            height: 150px;
        }
    }
}